<div id="<%= dom_id congressman %>" style="padding:0.5em; background-color:silver; margin: 0.5em;">
  <p>
    <strong>nome:</strong>
    <%= congressman.name %>
  </p>

  <p>
    <strong>Codigo de inscrição:</strong>
    <%= congressman.registration_code %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= congressman.state %>
  </p>

  

</div>